.contactBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 120px;
}

.contactBlockRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.contactBlockRow:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
}

.contactBlockRowItem {
    padding: 40px;
    background: linear-gradient(210.29deg, #FFFFFF 2.13%, #D1E3E7 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    min-height: 230px;
    position: relative;
}

.contactBlockRowItem h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
}

.contactBlockRowItem p {
    margin: 0;
    font-size: 20px;
}

.contactBlockRowItem .icon {
    position: absolute;
    top: 40px;
    right: 40px;
}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 700px) {

    .contactBlockRow,
    .contactBlockRow:nth-child(2) {
        grid-template-columns: 1fr;
    }

    .contactBlockRowItem {
        padding: 30px;
        border-radius: 15px;
    }

    .contactBlockRowItem h3 {
        font-size: 20px;
    }

    .contactBlockRowItem p {
        font-size: 16px;
    }

    .contactBlockRowItem {
        min-height: 150px;
    }

    .contactBlockRowItem .icon svg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) {}