footer {
  background: linear-gradient(0deg, #141414 31.98%, #333333 100%);
}
footer .footer {
  padding: 50px 50px 70px;
}
footer .footer .footer-block-1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 40px;
}
footer .footer .footer-block-1 .img-logo-footer {
  display: block;
}
footer .footer .footer-block-1 .img-logo-footer img {
  max-width: 160px;
  margin: 0 auto;
}
footer .footer .footer-block-1 .nav-footer {
  display: flex;
  align-items: center;
}
footer .footer .footer-block-1 .nav-footer ul {
  display: flex;
  flex-direction: row;
  gap: 40.63px;
  list-style: none;
  padding-left: 0;
}
footer .footer .footer-block-1 .nav-footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
footer .footer .footer-block-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}
footer .footer .footer-block-2 .block {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer .footer-block-2 .block .text-1 {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 80%;
}
footer .footer .footer-block-2 .block1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer .footer-block-2 .block1 .text2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: white;
  opacity: 80%;
}
footer .footer .footer-block-2 .block1 .link {
  color: white;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 80%;
}
footer .footer .footer-block-2 .block2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer .footer-block-2 .block2 .block {
  gap: 0;
}
footer .footer .footer-block-2 .block2 .block .text3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: white;
}
footer .footer .footer-block-2 .block2 .block h2 {
  font-size: 24px;
  color: white;
  margin: 0;
  white-space: nowrap;
}
footer .footer .footer-block-2 .block3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .footer .footer-block-2 .block3 .img-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}
footer .footer .footer-block-2 .block3 .text4 {
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  color: white;
  white-space: nowrap;
  margin: 0;
}

@media screen and (max-width: 900px) {
  footer .footer {
    padding: 40px 30px;
  }
  footer .footer .footer-block-1 {
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 30px;
  }
  footer .footer .footer-block-1 .nav-footer {
    width: 70%;
  }
  footer .footer .footer-block-1 .nav-footer ul {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-end;
  }
  footer .footer .footer-block-1 .nav-footer ul li {
    text-align: right;
  }
  footer .footer .footer-block-2 {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  footer .footer .footer-block-2 .block, footer .footer .footer-block-2 .block1, footer .footer .footer-block-2 .block2, footer .footer .footer-block-2 .block3 {
    flex-basis: calc(50% - 15px);
    box-sizing: border-box;
  }
  footer .footer .footer-block-2 .block, footer .footer .footer-block-2 .block1, footer .footer .footer-block-2 .block2, footer .footer .footer-block-2 .block3 {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  footer {
    background: linear-gradient(0deg, #141414 31.98%, #333333 100%);
  }
  footer .footer {
    padding: 13px 20px 56px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  footer .footer .footer-block-1 {
    padding-top: 36.94px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-bottom: 0;
  }
  footer .footer .footer-block-1 .nav-footer {
    width: auto;
  }
  footer .footer .footer-block-1 .nav-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  footer .footer .footer-block-1 .nav-footer ul li {
    text-align: center;
  }
  footer .footer .footer-block-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer .footer .footer-block-2 .block .text-1 {
    text-align: center;
    font-size: 14px;
  }
  footer .footer .footer-block-2 .block1 .text2 {
    text-align: center;
    font-size: 14px;
  }
  footer .footer .footer-block-2 .block1 .link {
    text-align: center;
    font-size: 14px;
  }
  footer .footer .footer-block-2 .block2 .block .text3, footer .footer .footer-block-2 .block2 .block h2 {
    text-align: center;
  }
  footer .footer .footer-block-2 .block2 .block .text3 {
    font-size: 14px;
  }
  footer .footer .footer-block-2 .block2 .block h2 {
    font-size: 20px;
  }
  footer .footer .footer-block-2 .block3 .img-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .footer .footer-block-2 .block3 .text4 {
    font-size: 14px;
    text-align: center;
  }
}