header {
    position: fixed;
    box-sizing: border-box;
    left: 50%;
    top: 20px;
    translate: -50%;
    width: 100%;
    padding: 0 50px;
    padding-top: 20px;
    z-index: 99;
    background: transparent;
    transition: all 0.3s;
}

header.scrolled .header-container {
    display: none;
}

.header-container .logo {
    max-width: 220px;
}

.header-container .logo img {
    width: 100%;
}

header.scrolled .header-menu {
    margin-top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-rigth {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header-socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-menu {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 17px 40px;
    border-radius: 10px;
}

.headerBurgerIcon {
    display: none;
    cursor: pointer;
}

.headerBurgerMenu {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(210.29deg, #FFFFFF 2.13%, #FFF2BE 100%);
    top: 0;
    overflow-y: auto;
    padding: 20px;
}

.headerBurgerMenu_close {
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-bottom: 10px;
}

.headerBurgerMenu_logo {
    text-align: center;
    margin-bottom: 80px;
    width: 100%;
}

.headerBurgerMenu_logo img {
    max-width: 80%;
}

.headerBurgerMenu_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 80px;
}

.headerBurgerMenu_socials {
    text-align: center;
    margin-bottom: 20px;
}

.headerBurgerMenu_contacts {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

.headerBurgerMenu .btnRequestHeader {
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

@media(max-width: 1100px) {}

@media(max-width: 700px) {
    header {
        padding: 0 10px;
    }

    .header-menu {
        display: none;
    }

    .header-rigth {
        display: none;
    }

    .headerBurgerIcon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header.scrolled .header-container {
        display: flex;
    }

    header.scrolled {
        top: 10px;
        background: rgba(255, 255, 255, 0.8);
        padding: 5px 15px;
        width: calc(100% - 20px);
        border-radius: 10px;
        backdrop-filter: blur(8px);
    }
}

@media(max-width: 500px) {}