.mainDirectionsBlock {
    margin-bottom: 120px;
}

.mainDirectionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
    transition: 0.3s;
}

.mainDirectionsGrid.loading {
    max-height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.mainDirectionsGrid .loadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg,
            #f0f0f0a1 25%,
            #e0e0e0a1 50%,
            #f0f0f0a1 75%);
    background-size: 200% 100%;
    animation: loadingShimmer 1.5s infinite;
    backdrop-filter: blur(5px);
}

@keyframes loadingShimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.mainDirectionsGridColumn {
    display: grid;
    gap: 20px;
    height: fit-content;
}

.mainDirectionsSearchTabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 40px 35px;
    gap: 10px;
    background: linear-gradient(210.29deg, #FFFFFF 2.13%, #FFF2BE 100%);
    border-radius: 20px;
    margin-bottom: 20px;
}

.mainDirectionsSearchTabItem {
    color: #006499;
    border: 1px solid #006499;
    background: transparent;
    padding: 17px 25px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: -0.3;
}

.mainDirectionsSearchTabItem:nth-child(-n+5) {
    width: calc(20% - 10px);
    text-align: center;
    box-sizing: border-box;
}

.mainDirectionsSearchTabItem:nth-child(n+6):nth-child(-n+9) {
    width: calc(25% - 10px);
    text-align: center;
    box-sizing: border-box;
}

.mainDirectionsSearchTabItem.active,
.mainDirectionsSearchTabItem:hover {
    background: #006499;
    color: #fff;
}

.mainDirectionsGridItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    transition: all 0.3s;
    height: fit-content;
}

.mainDirectionsGridItem:hover {
    background: linear-gradient(210.29deg, #FFFFFF 2.13%, #D1E3E7 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px);
}

.mainDirectionsGridItem h3 {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    margin-bottom: 10px;
}

.mainDirectionsGridItem p {
    margin: 0;
    margin-bottom: 30px;
}

.mainDirectionsGridItemInfo {
    display: flex;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.mainDirectionsGridItemEdu {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainDirectionsGridItemInfoItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}

.mainDirectionsGridItemLink {
    border: 1px solid;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
}

.mainDirectionsGridItem:hover .mainDirectionsGridItemLink {
    border: 0;
    background: #006499;
    color: #fff;
}

@media(max-width: 1100px) {}

@media(max-width: 700px) {
    .mainDirectionsGrid {
        grid-template-columns: 1fr;
    }

    .mainDirectionsSearchTabItem {
        padding: 10px 20px;
        font-size: 14px;
        text-wrap-mode: nowrap;
    }

    .mainDirectionsSearchTabItem:nth-child(-n+5),
    .mainDirectionsSearchTabItem:nth-child(n+6):nth-child(-n+9) {
        width: auto;
    }

    .mainDirectionsSearchTabs {
        padding: 10px;
        border-radius: 10px;
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }

    .mainDirectionsGridItem {
        padding: 20px;
        gap: 0;
    }

    .mainDirectionsGridItem h3 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .mainDirectionsGridItem p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .mainDirectionsGridItemInfoItem {
        font-size: 14px;
    }

    .mainDirectionsGridItemInfo {
        gap: 10px;
    }
    
    .mainDirectionsGridItemEdu:last-child {
        width: 100%;
    }

    .mainDirectionsGridItemLink {
        padding: 15px;
        font-size: 15px;
    }

    .mainDirectionsBlock {
        margin-bottom: 60px;
    }

    .mainDirectionsSearchContainer {
        padding: 10px;
        border-radius: 15px;
    }
}

@media(max-width: 500px) {
    .mainDirectionsGridColumn {
        gap: 10px;
    }

    .mainDirectionsBlock {
        margin-bottom: 40px;
    }
}