.mainCertsBlockSlider {
    width: 100%;
    padding: 60px 0 80px;
}

.mainCertsBlock {
    margin-bottom: 120px;
}

.mainCertsBlockSlider .swiper-wrapper {
    height: fit-content;
    justify-content: center;
    padding-bottom: 50px;
}

.mainCertsBlockSlider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 42%;
}

.mainCertsBlockSlider .swiper-slide img {
    width: 100%;
    border-radius: 20px;
}

.mainCertsBlockSlider .swiper-slide-active img {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    background: #fff;
}

/* боковые слайды */
.mainCertsBlockSlider .swiper-slide-prev img,
.mainCertsBlockSlider .swiper-slide-next img {
    transform: scale(0.85);
    opacity: 0.7;
}

.mainCertsBlockSlider .swiper-slide-next {
    margin-left: -120px;
}

.mainCertsBlockSlider .swiper-slide-prev {
    margin-right: -120px;
}

.mainCertsBlock .swiper-pagination {
    position: static;
    margin-top: -15px;
}

.mainCertsBlockSliderMobile {
    display: none!important;
}

.mainCertsBlockSliderMobile .swiper-slide img {
    width: 100%;
    border-radius: 10px;
}

.mainCertsBlockSliderMobile .swiper-wrapper {
    height: fit-content;
    padding-bottom: 40px;
}

@media(max-width: 1100px) {}

@media(max-width: 700px) {
    .mainCertsBlock {
        margin-bottom: 80px;
    }

    .mainCertsBlockSlider .swiper-slide-next {
        margin-left: 0px;
    }

    .mainCertsBlockSlider .swiper-slide-prev {
        margin-right: 0px;
    }

    .mainCertsBlockSlider .swiper-slide-prev img,
    .mainCertsBlockSlider .swiper-slide-next img {
        transform: scale(1);
        opacity: 1;
    }

    .mainCertsBlockSlider .swiper-slide {
        min-width: 100%;
    }

    .mainCertsBlockSlider {
        display: none!important;
    }

    .mainCertsBlockSliderMobile {
        display: block!important;
    }
}

@media(max-width: 500px) {}