.mainCompanies {
    margin-bottom: 120px;
}

.mainCompaniesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.mainCompaniesGridItem {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.mainCompaniesGridItem img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .mainCompaniesGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}