.requestBlock {
    box-sizing: border-box;
    background: linear-gradient(210.29deg, #FFFFFF 2.13%, #D1E3E7 100%);
    border: 3px solid rgba(0, 100, 153, 0.2);
    border-radius: 20px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.requestBlock .requestBlockText h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 600;
}

.requestBlock .requestBlockText p {
    margin: 0;
}

.requestBlockForm .formInputContainer label {
    margin-bottom: 10px;
    display: block;
}

.requestBlockForm .formInputContainer input {
        padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 100, 153, 0.3);
}

.requestBlockForm .formInputContainer {
    margin-bottom: 20px;
}

.requestBlockForm .requestBlockForm_btn {
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #006499;
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}

.requestBlockForm p {
    font-size: 14px;
}

.requestBlockForm p a {
    text-decoration: underline;
}

.requestBlockText {
    position: relative;
}

.requestBlockText .image {
    position: absolute;
    bottom: 0;
    max-width: 180px;
}

.requestBlockText .image img {
    width: 100%;
}

@media(max-width: 1100px) {}

@media(max-width: 700px) {
    .requestBlockText {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;
    }

    .requestBlock {
        grid-template-columns: 1fr;
        padding: 30px 20px;
        margin-bottom: 60px;
    }

    .requestBlock .requestBlockText h3 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 15px;
        order: 1;
    }

    .requestBlock .requestBlockText p {
        text-align: center;
        font-size: 16px;
        order: 2;
    }

    .requestBlockForm .requestBlockForm_btn {
        font-size: 16px;
    }

    .requestBlockForm p {
        text-align: center;
    }

    .requestBlockText .image {
        position: static;
        width: 110px;
        margin-bottom: 20px;
    }

    .requestBlockForm .formInputContainer input {
        padding: 20px;
    }
}

@media(max-width: 500px) {}